* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(0deg, rgba(66, 66, 66, 0.8), rgba(66, 66, 66, 0.8)), url("IMG/gym.png");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;


}

body::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(66, 66, 66, 0.05);


}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 115px;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-decoration: underline white;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;

}

header .navegador{
    font-size: 30px;
    position: relative;
    display: flex;
}

header .navegador li{
    list-style: none;
}

header .navegador li a{
    display: inline-block;
    font-size: 40px;
    color: #fff;
    margin-right: 50px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

header .navegador li a:hover{
    color: #03a9f4;
}

.ini{
    margin-top: 280px;
    position: relative;
    /* top: 35%; */
    /* left: 17%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2{
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



form{
    text-align: center;
    background-color: rgba(83, 83, 83, 0.829);
    border-radius:10px;
    font-size:30px;
    padding:90px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 30px;
    width:400px;
}

#nom{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#usuari{
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

#contra{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#passw{
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
}

#login{
    font-size: 25px;
    /* width: 100px; */
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#login:hover{
    background-color: rgba(179, 179, 179, 0.966);
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    width: 50px;
    font-size: 30px;
    position: relative;
    display: block;
    margin-left: 50px;
    /* Per invertir el color de negre(color original) a blanc */
    filter: invert(1);
    /* transform: scale(0.5); */
}

/* Estils per a mobils */

@media (max-width: 768px) {
    header{
        padding: 15px 40px;
    }

    header .navegador{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header .navegador.active{
        display: flex;
    }

    header .navegador li a{
        font-size: 24px;
        margin: 10px 0;
    }

    .Menu{
        position: relative;
        width: 30px;
        height: 30px;
        background: url("IMG/menu.png");
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .Menu.active{
        background: url("IMG/tancar.png");
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;

    }

    h2{
        font-size: 30px;
              
    }

    form{
        font-size: 25px;
        margin-bottom: 150px;
    }

    .sci{
        top: 800px;
    }


    
}


